SERVER_PORT=8443
DOWNLOAD_URL=http://localhost:8080

# MQTT
MQTT_PORT=8883
MQTT_SERVER=181314a4c00344d5a62cfc8c2059208e.s1.eu.hivemq.cloud
MQTT_USERNAME=
MQTT_PASSWORD=

# MYSQL
MYSQL_HOST=localhost
MYSQL_DBNAME=ciecapstone2023db
MYSQL_PORT=3306
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_CONTAINER_NAME=sql-db-1
SQL_FILE=./sql/ciecapstone2023db.sql
MYSQL_COMPOSE=./sql/docker-compose.yml